html,body {
    height:100%;
}

#title{
	font-family: 'Crimson Text', serif;
	text-align: center;
	color: red;
	font-size: 300%;
}

#terminator{
	margin-left: auto;
	margin-right: auto;
	width: 5%;
	height: 80%;
	padding: 0px;
	/*border: 1px solid black;*/
	box-sizing: border-box;
}

.colour_box{
	/*background-color: red*/
	margin: auto;
	/*margin-right: auto;*/
	/*width: 5%;*/
	height: 100%;
	float: left;
	/*padding: 20px;*/
	/*border: 1px solid black;*/
	box-sizing: border-box;
	/*flex: 1 1 auto;*/
}